<!DOCTYPE html>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'playlist/style.css' %}">
<html style="background-color:rgb(35, 35, 35);">
  {% csrf_token %}
  <head>

  </head>
  <body style="color:white;">
    <h1>Trackolini</h1>
    <p>Analyze an artist's top 10 tracks</p>
    <form id = "statForm" action = "statistics" method = "get">
        <label for="artist">Artist: </label>
        <input id="artist" type="text" name="artist" required>
        <button id='sb' type="submit" value="OK">Submit</button>
    </form>
    <p style="color:red;">{{ artist_not_found_error }}</p>
    <div id="statAnalyzing" style="display:none;">Analyzing...</div>
    <div id="statSpinner" class="loader"></div>
    <script>
      const statForm = document.getElementById('statForm');
      statForm.addEventListener("submit", showLoader);
      function showLoader() {
        document.getElementById("statAnalyzing").style.display = "block";
        document.getElementById("statSpinner").style.display = "block";
      }
    </script>
    <br>
    <p>Analyze an individual track</p>
    <form id = "trackForm" action = "track_analysis" method = "get">
      <label for="track">Track: </label>
      <input id="track" type="text" name="track" required>
      <label for="artist">Artist: </label>
      <input id="artist" type="text" name="artist" required>
      <button type="submit" value="OK">Submit</button>
    </form>
    <p style="color:red;">{{ track_not_found_error }}</p>
    <div id="trackAnalyzing" style="display:none;">Analyzing...</div>
    <div id="trackSpinner" class="loader"></div>
    <script>
      const trackForm = document.getElementById('trackForm');
      trackForm.addEventListener("submit", showLoader);
      function showLoader() {
        document.getElementById("trackAnalyzing").style.display = "block";
        document.getElementById("trackSpinner").style.display = "block";
      }
    </script>
  </body>
</html>
