<!DOCTYPE HTML>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'playlist/style.css' %}">
<html style="background-color:rgb(35, 35, 35);">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>trackolini</title>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body style="color:white;">
  <h1>Trackolini</h1>
  <form id = 'form' action = "statistics" method = "get">
      <label for="artist">Artist: </label>
      <input id="artist" type="text" name="artist" required>
      <button type="submit" value="OK">Submit</button>
  </form>
  <div id="analyzing" style="display:none;">Analyzing...</div>
  <div id="spinner" class="loader"></div>
  <script>
    const form = document.getElementById('form');
    form.addEventListener("submit", showLoader);
    function showLoader() {
      document.getElementById("analyzing").style.display = "block";
      document.getElementById("spinner").style.display = "block";
    }
  </script>
  {% autoescape off %}
  {{ plot_div_tempo }}
  <hr>
  {{ plot_div_loudness }}
  <hr>
  {{ plot_div_key }}
  {% endautoescape %}
</body>
</html>
